<ul class="d-none">
  <li routerLinkActive="active" routerLink="/">Home</li>
  <li routerLinkActive="active" routerLink="/add">Add</li>
  <li routerLinkActive="active" routerLink="/dashboard">List</li>
  <li routerLinkActive="active" routerLink="/details">Details</li>
  <li routerLinkActive="active" routerLink="/form">Form</li>
  <li routerLinkActive="active" routerLink="/comments">Comments</li>
  <li routerLinkActive="active" routerLink="/user">User Management</li>
</ul>

<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      routerLink="/"
      class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
      <i class="logo bi bi-brilliance text-primary"></i>
      <span class="fs-4">Practice 1.0</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/user" class="nav-link">
          User Management
        </a>
      </li>
      <li class="nav-item"><a href="/form" class="nav-link">Form</a></li>
      <li class="nav-item"><a href="/search" class="nav-link">Search</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>
</div>
<div class="container"><router-outlet></router-outlet></div>
