<form [formGroup]="userForm" class="row" (ngSubmit)="onSubmit()">
  <div class="col-lg-2">
    <label class="form-label" for="name">Name:</label>
    <input
      class="form-control col-md-4"
      formControlName="name"
      id="name"
      type="text"
    />
    <span *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched"
      >Please enter a valid name!</span
    >
  </div>
  <div class="col-lg-2">
    <label class="form-label" for="email">Email:</label>
    <input
      class="form-control col-md-4"
      formControlName="email"
      id="email"
      type="text"
    />
  </div>
  <div formGroupName="address">
    <div class="col-lg-2">
      <label class="form-label" for="street">Street:</label>
      <input
        class="form-control col-md-4"
        formControlName="street"
        id="street"
        type="text"
      />
    </div>
    <div class="col-lg-2">
      <label class="form-label" for="city">City:</label>
      <input
        class="form-control col-md-4"
        formControlName="city"
        id="city"
        type="text"
      />
    </div>
    <div class="col-lg-2">
      <label class="form-label" for="pin">Pin:</label>
      <input
        class="form-control col-md-4"
        formControlName="pin"
        id="pin"
        type="text"
      />
    </div>
    <div class="col-lg-2">
      <label class="form-label" for="country">Country:</label>
      <input
        class="form-control col-md-4"
        formControlName="country"
        id="country"
        type="text"
      />
    </div>
  </div>
  <div class="col-lg-2">
    <button class="btn btn-default" type="button" (click)="onAddHobby()">
      Add Hobbies
    </button>
    <div
      formArrayName="hobbies"
      class="form-group"
      *ngFor="let hobby of hobbiesControl.controls; let i = index"
    >
      <input type="text" [formControlName]="i" />
    </div>
  </div>
  <div class="col-lg-2">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
<pre>
  {{ userForm.value | json }}
</pre>
