<div class="search mb-5">
  <form class="form-inline" [formGroup]="searchForm">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="bi bi-search"></i>
        </span>
      </div>
      <input
        class="form-control"
        type="text"
        formControlName="search"
        placeholder="Search "
        aria-label="Search"
        (click)="toggleDropDown()"
      />
    </div>
    <div class="dropdown-container" *ngIf="isOpenDropDown">
      <div
        *ngFor="let postTitle of searchedData"
        class="post-title-dd"
        (click)="selectSearchKey(postTitle.id)"
      >
        {{ postTitle.title }}
      </div>
    </div>
  </form>
</div>
<div *ngIf="isSearchKeySelected && selectedData">
  <div class="card mb-3">
    <div class="card-header">{{ selectedData.title }}</div>
    <div class="card-body">
      <div class="card-text">{{ selectedData.body }}</div>
    </div>
  </div>
</div>
