.dropdown-container {
  position: absolute;
  z-index: 1;
  width: 87%;

  background-color: #f9f2f2;
  overflow-y: auto;
  color: black;
}

.post_title_dd {
  padding: 10px;
  color: chocolate;
}
.post_title_dd:hover {
  background-color: rgb(238, 243, 250);
  cursor: pointer;
}
